%h1 New show_set_list

- form_for @show_set_list, :url => show_show_set_lists_path(@show) do |f|
  =f.error_messages
  %dl
    %dt= f.label :name, "Name:"
    %dd= f.text_field :name
  %p= f.submit 'Create'

= link_to 'Back', show_set_lists_path