<h1>Listing song_performances</h1>

<table>
  <tr>
  </tr>

<% @song_performances.each do |song_performance| %>
  <tr>
    <td><%= link_to 'Show', song_performance %></td>
    <td><%= link_to 'Edit', edit_song_performance_path(song_performance) %></td>
    <td><%= link_to 'Destroy', song_performance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New song_performance', new_song_performance_path %>