#header
  :width 100%
  :height 30px
  :background-color = !dark_blue
#top-navigation
  +column(24)
  ul
    :list-style none
    :margin 0
    :padding 0
    li
      :float left
      :margin-left 0px
      :margin-right 10px
    li:hover
      :background #5C75AA
    a
      :text-decoration none
      :color #FFFFFF
      :display block
      :font-weight bold
      :height 15px
      :margin-top 0
      :padding 7px 7px 6px 8px
