<h1>Listing set_lists</h1>

<table>
  <tr>
  </tr>

<% @set_lists.each do |set_list| %>
  <tr>
    <td><%= link_to 'Show', set_list %></td>
    <td><%= link_to 'Edit', edit_set_list_path(set_list) %></td>
    <td><%= link_to 'Destroy', set_list, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New set_list', new_set_list_path %>