<h1>Editing photo_album</h1>

<% form_for(@photo_album) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @photo_album %> |
<%= link_to 'Back', photo_albums_path %>