<h1>Listing photo_albums</h1>

<table>
  <tr>
  </tr>

<% @photo_albums.each do |photo_album| %>
  <tr>
    <td><%= link_to 'Show', photo_album %></td>
    <td><%= link_to 'Edit', edit_photo_album_path(photo_album) %></td>
    <td><%= link_to 'Destroy', photo_album, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New photo_album', new_photo_album_path %>