!!!
%html
  %head
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}/
    %title= "Sabre Dance :: "+ controller.controller_name.capitalize
    = stylesheet_link_tag 'compiled/print'
  %body
    = yield